<%= form_for @news, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :body, :class => 'control-label'%>
    <div class="controls">
      <%= f.text_area :body, :class => 'text_area span7'%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :archived, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :archived, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :position, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :position, :class => 'number_field' %>
    </div>
  </div>
	<div class="control-group">
		<%= f.file_field :image, :class => :file_field %>
	</div>
		
	</div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                @news, :class => 'btn' %>
  </div>

<script type="text/javascript">
	$('#news_body').wysihtml5();
</script>
<% end %>
